<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/png"
          href="{{ url_for('static', filename='icons/BirdPi_icon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}BirdPi{% endblock %}
    </title>

    {% block head_extra %}{% endblock %}

    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

<div class="container">

    <header class="site-header">
        <img
                class="site-banner"
                src="{{ url_for(
            'static',
            filename='icons/BirdPi_banner.png'
        ) }}"
                alt="BirdPi - Nature Observation Node"
        >
    </header>

    <nav>
        <a
                href="{{ url_for('web.index') }}"
                class="{% if request.endpoint == 'web.index' %}active{% endif %}"
        >
            Home
        </a>
        <a
                href="{{ url_for('web.events') }}"
                class="{% if request.endpoint in [
                'web.events',
                'web.event_detail'
               ] %}active{% endif %}"
        >
            Events
        </a>
        <a
                href="{{ url_for('web.gallery') }}"
                class="{% if request.endpoint in [
                'web.gallery',
                'web.gallery_image'
            ] %}active{% endif %}"
        >
            Gallery
        </a>

    </nav>

    {% block content %}
    {% endblock %}

</div>
<script>
function toggleManualControl() {
    const panel = document.getElementById(
        "manual-control-panel"
    );

    panel.classList.toggle("open");
}
</script>
</body>
</html>