<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BirdPi{% endblock %}</title>
    {% block head_extra %}{% endblock %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <header>
        <h1>🐦 BirdPi</h1>
        <p class="subtitle">Nature Observation Node</p>
    </header>

    <nav>
        <a
                href="{{ url_for('web.index') }}"
                class="{% if request.endpoint == 'web.index' %}active{% endif %}"
        >
            Home
        </a>

        <a
                href="{{ url_for('web.gallery') }}"
                class="{% if request.endpoint == 'web.gallery' %}active{% endif %}"
        >
            Gallery
        </a>
        <a href="{{ url_for('web.sessions') }}"
           class="{% if request.endpoint == 'web.sessions' %}active{% endif %}"
        >
            Sessions
        </a>
        <a href="{{ url_for('web.observations') }}"
           class="{% if request.endpoint == 'web.observations' %}active{% endif %}">
            Observations
        </a>
    </nav>

    {% block content %}
    {% endblock %}

</div>

</body>
</html>