{% extends "base.html" %}

{% block title %}BirdPi Gallery{% endblock %}

{% block content %}

<section class="card">
    <h2>Captured images</h2>

    {% if images %}
    <div class="gallery-grid">
        {% for image in images %}
        <div class="gallery-item">

            <a href="{{ url_for('web.gallery_image', filename=image.name) }}">
                <img
                        src="{{ url_for('web.image', filename=image.name) }}"
                        alt="{{ image.name }}"
                >
            </a>

            <p>{{ image.name }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No images available.</p>
    {% endif %}
</section>

{% endblock %}