{% extends "base.html" %}

{% block title %}BirdPi{% endblock %}

{% block head_extra %}
<meta
        http-equiv="refresh"
        content="{{ status_refresh_seconds }}"
>
{% endblock %}

{% block content %}

<section class="card">
    <h2>Host: {{ hostname }}</h2>
    <p>Uptime:{{ uptime }}  CPU temp.:{{
        "%.1f"|format(cpu_temperature) }} °C</p>


</section>
<section class="card">
    <h2>BirdPi Status</h2>

    <p>
        Service:
        {% if birdpi_running %}
        RUNNING
        {% else %}
        STOPPED
        {% endif %}
    </p>

    <p>
        Mode:
        {{ runtime_mode|upper }}
    </p>

    <p>
        IR:
        {{ runtime_ir_mode|upper }}
    </p>

    <p>
        Motion:
        {% if motion_active %}
        ACTIVE
        {% else %}
        IDLE
        {% endif %}
    </p>

    {% if current_event_id %}
    <p>
        Current event:
        <a href="{{ url_for(
                'web.event_detail',
                event_id=current_event_id
            ) }}">
            {{ current_event_id }}
        </a>
    </p>
    {% endif %}

    {% if last_event_id %}
    <p>
        Last event:
        <a href="{{ url_for(
                'web.event_detail',
                event_id=last_event_id
            ) }}">
            {{ last_event_id }}
        </a>
    </p>
    {% endif %}

    {% if runtime_last_update %}
    <p>
        Last update:
        {{ runtime_last_update }}
    </p>
    {% endif %}


    <div class="service-actions">

        {% if birdpi_running %}

        <form
                action="{{ url_for('web.service_stop') }}"
                method="post"
        >
            <button type="submit">
                Stop
            </button>
        </form>

        <form
                action="{{ url_for('web.service_restart') }}"
                method="post"
        >
            <button type="submit">
                Restart
            </button>
        </form>

        {% else %}

        <form
                action="{{ url_for('web.service_start') }}"
                method="post"
        >
            <button type="submit">
                Start
            </button>
        </form>

        {% endif %}

    </div>
</section>
<section class="card">
    <h2>Camera</h2>

    <p>Model: {{ camera_model }}</p>
    <p>Photo resolution: {{ camera_resolution }}</p>
    <p>Stored images: {{ image_count }}</p>


</section>
<section class="card">
    <h2>Latest event</h2>

    {% if latest_event %}

    <p>
        <strong>
            {{ latest_event.started_at.strftime("%d.%m.%Y %H:%M:%S") }}
        </strong>
    </p>

    {% if latest_event.ended_at %}
    <p>
        Duration:
        {{ "%.1f"|format(
        (latest_event.ended_at - latest_event.started_at).total_seconds()
        ) }} s
    </p>
    {% endif %}

    <p>
        Media:
        📷 {{ latest_event.images|length }}

        {% if latest_event.video_filename %}
        &nbsp; 🎥 Video
        {% endif %}
    </p>

    <p>
        {% if latest_event and latest_event.images %}
        <a href="{{ url_for(
            'web.event_detail',
            event_id=latest_event.id) }}">
            <img class="home-thumb"
                 src="{{ url_for(
                    'web.image',
                    filename=latest_event.images[0].filename
                ) }}"
                 alt="Latest motion event"
            >
        </a>
        {% endif %}
    </p>

    {% else %}

    <p>No motion events available.</p>

    {% endif %}
</section>
<section class="card">
    <h2>Latest image</h2>

    {% if latest_image %}

    <p class="image-name">
        {{ latest_image.name }}
    </p>

    <img
            class="home-thumb"
            src="{{ url_for(
        'web.image',
        filename=latest_image.name
    ) }}"
            alt="Latest BirdPi image"
    >

    {% else %}

    <p>No images available.</p>

    {% endif %}
</section>

{% endblock %}